Main Read is from
===============
https://pandas.pydata.org/pandas-docs/version/0.18/tutorials.html

Task 1
=======
### T1.1 Read Master File (Excel), extract duplicate, write duplicate to file, remove duplicate
### T1.2 Read secondary file, merge right, merge left, drop col

In [ ]:
import pandas as pd

# setting file names
FILE_MASTERS = 'data/masters.xlsx'
FILE_INCOMING = 'data/incoming.xlsx'

FILE_MASTERS_DUPS = 'data/masters_dups.xlsx'
FILE_OUT = 'data/output.xlsx'

# Read Master File  (Excel)
df_masters = pd.read_excel(FILE_MASTERS, sheetname='input')

#Sort recordscby ascending ID's
df_masters.sort_values('ID', ascending=True, inplace=True)

#display data
df_masters

#extract duplicate
df_dups = df_masters[df_masters.duplicated(keep='first')]
df_dups

#output duplicates to spreadsheet before deletion
writer = pd.ExcelWriter(FILE_MASTERS_DUPS)
df_dups.to_excel(writer, 'output')

#drop duplicates
df_masters.drop_duplicates(subset='ID', keep='first', inplace=True)

#read secondary file
df_incoming = pd.read_excel(FILE_INCOMING, sheetname='input')

#Merge (Join) two table - right
df_join_right = pd.merge(df_masters, df_incoming, how="right", on=['ID'])
df_join_right

#Merge (Join) two table - left
df_join_left = pd.merge(df_masters, df_incoming, how="left", on=['ID'])
df_join_left

#drop column
df_join_left.drop(['Name'], axis=1, inplace=True)
df_join_left

## Task 2 Statistical Analysis using Scipy and Panda
#### T2.1 how to compute the mean, variance, and standard error of a data set. 
#### T2.2 how to perform a Mann-Whitney-Wilcoxon (MWW) RankSum test, 
#### T2.3 how to perform an Analysis of variance (ANOVA) between multiple data sets
#### T2.4 how to compute bootstrapped 95% confidence intervals for non-normally distributed data sets

In [10]:
import pandas as pd
# Read data 
# Must specify that blank space " " is NaN
df = pd.read_csv("data/parasite_data.csv", na_values=[" "])

df[:2]

   Virulence  Replicate  ShannonDiversity
0        0.5          1          0.059262
1        0.5          2          1.093600

In [11]:
## show the 12th row in the ShannonDiversity column
df["ShannonDiversity"][12]

1.58981

In [14]:
# show First 2 entries in the ShannonDiversity when column > 2.0
df[df["ShannonDiversity"] > 2.0][:2]

    Virulence  Replicate  ShannonDiversity
8         0.5          9           2.04768
89        0.6         40           2.01066

In [18]:
# Blank/omitted data (Na or Nan) in df
#  Here's an example data set with NA/NaN values.
df[df["Virulence"].isna()]

     Virulence  Replicate  ShannonDiversity
300        NaN          1          0.000000
301        NaN          2          0.000000
302        NaN          3          0.833645
303        NaN          4          0.000000
304        NaN          5          0.990309
305        NaN          6          0.000000
306        NaN          7          0.000000
307        NaN          8          0.000000
308        NaN          9          0.061414
309        NaN         10          0.316439
310        NaN         11          0.904773
311        NaN         12          0.884122
312        NaN         13          0.000000
313        NaN         14          0.000000
314        NaN         15          0.000000
315        NaN         16          0.000000
316        NaN         17          0.013495
317        NaN         18          0.882519
318        NaN         19          0.000000
319        NaN         20          0.986830
320        NaN         21          0.000000
321        NaN         22          0.000000
322        NaN         23          0.000000
323        NaN         24          0.000000
324        NaN         25          0.000000
325        NaN         26          0.000000
326        NaN         27          1.702720
327        NaN         28          0.169556
328        NaN         29          0.949750
329        NaN         30          0.240084
330        NaN         31          0.925913
331        NaN         32          0.000000
332        NaN         33          0.693356
333        NaN         34          0.000000
334        NaN         35          0.310170
335        NaN         36          0.000000
336        NaN         37          0.000000
337        NaN         38          0.000000
338        NaN         39          0.000000
339        NaN         40          0.000000
340        NaN         41          0.000000
341        NaN         42          0.000000
342        NaN         43          0.000000
343        NaN         44          0.000000
344        NaN         45          0.391061
345        NaN         46          0.001669
346        NaN         47          0.000000
347        NaN         48          0.444463
348        NaN         49          0.383512
349        NaN         50          0.511329

In [19]:
#Mean
print("Mean virulence across all treatments:", df["Virulence"].mean())

Mean virulence across all treatments: 0.75

In [21]:
#(1) filter out all of the entries with NA/NaN
print(df.dropna())

     Virulence  Replicate  ShannonDiversity
0          0.5          1          0.059262
1          0.5          2          1.093600
2          0.5          3          1.139390
3          0.5          4          0.547651
4          0.5          5          0.065928
..         ...        ...               ...
295        1.0         46          0.644337
296        1.0         47          0.875816
297        1.0         48          0.000000
298        1.0         49          0.000000
299        1.0         50          0.000000

[300 rows x 3 columns]

In [22]:
#(2) If you only care about NA/NaN values in a specific column, you can specify the column name first.
print(df["Virulence"].dropna())

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
      ...
295    1.0
296    1.0
297    1.0
298    1.0
299    1.0
Name: Virulence, Length: 300, dtype: float64

In [23]:
#(3) Replace all of the NA/NaN entries with a valid value
print(df["Virulence"].fillna(0.0))

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
      ...
345    0.0
346    0.0
347    0.0
348    0.0
349    0.0
Name: Virulence, Length: 350, dtype: float64

#### Mean
The mean performance of an experiment gives a good idea of how the experiment will turn out on average under a given treatment.

In [24]:
print("Mean Shannon Diversity w/ 0.8 Parasite Virulence =", df[df["Virulence"] == 0.8]["ShannonDiversity"].mean())

Mean Shannon Diversity w/ 0.8 Parasite Virulence = 1.2691338188

#### Variance
The variance in the performance provides a measurement of how consistent the results of an experiment are. The lower the variance, the more consistent the results are, and vice versa.

In [25]:
print("Variance in Shannon Diversity w/ 0.8 Parasite Virulence =", df[df["Virulence"] == 0.8]["ShannonDiversity"].var())

Variance in Shannon Diversity w/ 0.8 Parasite Virulence = 0.6110384333126732

#### Standard Error of the Mean (SEM)
The standard error (SE) is the standard deviation of its sampling distribution or an estimate of that standard deviation. If the statistic is the mean, it is called the standard error of the mean (SEM).


A single SEM will usually envelop 68% of the possible replicate means and two SEMs envelop 95% of the possible replicate means. Two SEMs are called the "estimated 95% confidence interval." The confidence interval is estimated because the exact width depend on how many replicates you have; this approximation is good when you have more than 20 replicates.

In [26]:
print("SEM of Shannon Diversity w/ 0.8 Parasite Virulence =", df[df["Virulence"] == 0.8]["ShannonDiversity"].sem())

SEM of Shannon Diversity w/ 0.8 Parasite Virulence = 0.11054758552882764

#### Mann-Whitney-Wilcoxon (MWW) RankSum test
In statistics, the Mann–Whitney U test (also called the Mann–Whitney–Wilcoxon (MWW), Wilcoxon rank-sum test, or Wilcoxon–Mann–Whitney test) is a nonparametric test of the null hypothesis that it is equally likely that a randomly selected value from one sample will be less than or greater than a randomly selected value from a second sample.

This test can be used to investigate whether two independent samples were selected from populations having the same distribution. A similar nonparametric test used on dependent samples is the Wilcoxon signed-rank test.

Unlike the t-test, the RankSum test does not assume that the data are normally distributed, potentially providing a more accurate assessment of the data sets.

As an example, let's say we want to determine if the results of the two following treatments significantly differ or not:

In [28]:
treatment1 = df[df["Virulence"] == 0.5]["ShannonDiversity"]
treatment2 = df[df["Virulence"] == 0.8]["ShannonDiversity"]

print(treatment1[:5])
print(treatment2[:5])

0    0.059262
1    1.093600
2    1.139390
3    0.547651
4    0.065928
Name: ShannonDiversity, dtype: float64
150    1.433800
151    2.079700
152    0.892139
153    2.384740
154    0.006980
Name: ShannonDiversity, dtype: float64

In [30]:
# A RankSum test will provide a P value indicating whether or not the two distributions are the same.

from scipy import stats

z_stat, p_val = stats.ranksums(treatment1, treatment2)

print("MWW RankSum P for treatments 1 and 2 =", p_val)

MWW RankSum P for treatments 1 and 2 = 0.0009833559027350577

If P <= 0.05, we are highly confident that the distributions significantly differ, and can claim that the treatments had a significant impact on the measured value.

#### One-way analysis of variance (ANOVA)
If you need to compare more than two data sets at a time, an ANOVA is your best bet. For example, we have the results from three experiments with overlapping 95% confidence intervals, and we want to confirm that the results for all three experiments are not significantly different.

In [32]:
treatment1 = df[df["Virulence"] == 0.7]["ShannonDiversity"]
treatment2 = df[df["Virulence"] == 0.8]["ShannonDiversity"]
treatment3 = df[df["Virulence"] == 0.9]["ShannonDiversity"]

print(treatment1[:2])
print(treatment2[:2])
print(treatment3[:2])

100    1.59544
101    1.41973
Name: ShannonDiversity, dtype: float64
150    1.4338
151    2.0797
Name: ShannonDiversity, dtype: float64
200    1.036930
201    0.938018
Name: ShannonDiversity, dtype: float64

In [34]:
from scipy import stats
f_val, p_val = stats.f_oneway(treatment1, treatment2, treatment3)

print("One way ANOVA p =", p_val)

One way ANOVA p = 0.3815094818741026

If P > 0.05, we can claim with high confidence that the means of the results of all three experiments are not significantly different.